
body {
    margin: 0;
    padding: 0;
    background-color: #161616;
    font-family: verdana, sans-serif;
}

#main {
    margin: 0 auto;
    width: 650px;
    background: #1C2324;;
    color: #ADD9CE;
    padding: 0 2em 2em 2em;
    -webkit-box-shadow: 0 0px 55px black;
}

h1 {
    background-color: #D94141;
    padding: 2em 0 0.5em 0;
    margin: 0 0 1em 0;
    color: black;
    text-align: center;
}

a {
    color: #49DEE6;
}

input[type="button"] {
    font-size: 1.2em;
    height: 2em;
    padding: 0 1em;
}


input[type="text"] {
    font-size: 1.2em;
    height: 2em;
    width: 100%;
    padding: 0 0.2em;
    margin: 0.3em 0 1.5em 0;
}

#cfg_toolbar_icon {
    margin: 0 0 -0.7em 0;
    display: block;
}

input[type="radio"] {
    margin-left: 1em;
}

#cfg_save {
    padding: 1em;
}

